@page
@model Vadean_Flaviu_Proiect.Pages.SectiiVotare.DeleteModel

@{
    ViewData["Title"] = "Sterge";
}

<h1>Sterge</h1>

<h3>Doriti sa stergeti aceasta sectie de votare?</h3>
<div>
    <h4>Sectie Votare</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SectieVotare.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SectieVotare.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SectieVotare.Adresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SectieVotare.Adresa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SectieVotare.Localitate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SectieVotare.Localitate.Denumire)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="SectieVotare.ID" />
        <input type="submit" value="Sterge" class="btn btn-danger" /> |
        <a asp-page="./Index">Back</a>
    </form>
</div>
